/* Variables */
body {
  background-color: #F3F3F3;
  margin: 0px;
}

header {
  display: flex;
  width: 100%;
  height: 96px;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header h1 {
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 30px;
  line-height: 43.74px;
  margin: auto;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #EAEAEA;
}
.location i,
.location p {
  color: black;
}
.location p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 17px;
}

.exploration {
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
  padding: 30px 0px 60px 0px;
  width: 100%;
}
.exploration h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 275px;
  margin: auto;
}
.exploration p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
.exploration button {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: 0px;
  width: 218px;
  height: 50px;
}
.exploration button span {
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 13px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  background: #FFFFFF;
  padding: 48px 0px 40px 0px;
}
.fonctionnement h2 {
  position: relative;
  left: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
}
.fonctionnement .boutons {
  display: flex;
  flex-direction: column;
  gap: 24.92px;
  align-items: center;
  width: 100%;
}
.fonctionnement .boutons button {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  border: 0px;
  width: 322.49px;
  height: 72.38px;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.fonctionnement .boutons button i {
  font-size: 1.5em;
  color: #7E7E7E;
  width: 20px;
}
.fonctionnement .boutons button .fa-store {
  color: #9356DC;
}
.fonctionnement .boutons button span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 175.5px;
}
.fonctionnement .boutons button .circle {
  position: relative;
  width: 24px;
  height: 24px;
  right: 277px;
  text-align: center;
  border-width: 1px;
  border-radius: 20px;
  background-color: #9356DC;
  color: white;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  background: #F3F3F3;
  padding: 48px 20px 40px 20px;
}
.restaurants h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
}
.restaurants .row {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-content: center;
  width: 100%;
  margin-bottom: 5px;
}
.restaurants .row .card {
  background: white;
  border-radius: 20px;
  height: 251px;
  width: 346px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.restaurants .row .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 167px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants .row .card .card-content {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 84px;
}
.restaurants .row .card .card-content .card-txt {
  margin-top: auto;
  margin-bottom: auto;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "Roboto";
  font-style: normal;
}
.restaurants .row .card .card-content .card-txt .card-title {
  margin: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.restaurants .row .card .card-content .card-txt .card-subtitle {
  margin: 0px;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}
.restaurants .row .card .card-content .nouveau {
  position: relative;
  left: 56px;
  bottom: 179px;
  background: #99E2D0;
  color: #008766;
  padding: 7px 9px 7px 9px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.restaurants .row .card .card-content .gradient {
  font-size: 21px;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 0.5px #9356DC;
}
.restaurants .row .card .card-content .white {
  position: relative;
  left: 21px;
  font-size: 21px;
  color: white;
  -webkit-text-stroke: 0.5px black;
  transition: opacity 1s;
}
.restaurants .row .card .card-content .white:hover {
  opacity: 0;
}

footer {
  background: #353535;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-bottom: 22px;
  gap: 5px;
}
footer h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
footer a {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: white;
}
footer div {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer div i {
  width: 25px;
}/*# sourceMappingURL=styles.css.map */