/* Variables */
/* Keyframes */
/* Petites barres de chargement qui apparaisent avec un delai animation reutilisee 10 fois*/
@keyframes load {
  from {
    transform: scaleY(0);
    opacity: 0;
    transform: rotate(-25deg);
  }
  to {
    transform: scaleY(1);
    opacity: 1;
    transform: rotate(0);
  }
}
/* petit clignotement old-school de la barre*/
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Juste pour effacer le loader*/
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* apparition du contenu normal du header*/
@keyframes header {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
/* apparition du contenu de la page legerement decaler*/
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  background-color: #F3F3F3;
  margin: 0px;
}
body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
body header .header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 63px;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  animation: header 400ms 3000ms 1 normal ease-in-out both;
}
body header .header__content h1 {
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 30px;
  line-height: 43.74px;
  margin: auto;
}
body header .loader {
  width: 90%;
  position: absolute;
  top: 150px;
  height: 70px;
  padding: 5px;
  box-sizing: border-box;
  border: solid 1px #353535;
  animation: disappear 0ms 3000ms 1 normal ease-in-out both;
}
body header .loader span {
  position: absolute;
  top: -100px;
  z-index: 1;
  font-family: Shrikhand;
  font-style: normal;
  font-size: 1.2em;
}
body header .loader__bar {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: space-between;
  gap: 2px;
  animation: flash 100ms 2800ms ease-in-out forwards;
}
body header .loader__bar .bar {
  width: 10%;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 10px;
  animation: load 200ms normal ease-in-out both;
  transform-origin: bottom center;
}
body header .loader__bar .bar--1 {
  animation-delay: 100ms;
}
body header .loader__bar .bar--2 {
  animation-delay: 400ms;
}
body header .loader__bar .bar--3 {
  animation-delay: 900ms;
}
body header .loader__bar .bar--4 {
  animation-delay: 1200ms;
}
body header .loader__bar .bar--5 {
  animation-delay: 1500ms;
}
body header .loader__bar .bar--6 {
  animation-delay: 2400ms;
}
body header .loader__bar .bar--7 {
  animation-delay: 2500ms;
}
body header .loader__bar .bar--8 {
  animation-delay: 2600ms;
}
body header .loader__bar .bar--9 {
  animation-delay: 2700ms;
}
body header .loader__bar .bar--10 {
  animation-delay: 2750ms;
}
body #contenu {
  animation: appear 200ms 3400ms 1 normal backwards;
}
body #contenu .location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #EAEAEA;
}
body #contenu .location i,
body #contenu .location p {
  color: black;
}
body #contenu .location p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 17px;
}
body #contenu .exploration {
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
  padding: 30px 0px 60px 0px;
  width: 100%;
}
body #contenu .exploration h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 275px;
  margin: auto;
}
body #contenu .exploration p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
body #contenu .exploration button {
  position: relative;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: 0px;
  width: 218px;
  height: 50px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* Transition to showing the bigger shadow on hover */
  /* Pre-render the bigger shadow, but hide it */
}
body #contenu .exploration button:hover::after {
  opacity: 1;
}
body #contenu .exploration button::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  background: linear-gradient(193.33deg, #9e67e0 -11.44%, #ff8de0 123.93%);
  opacity: 0;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  transition: all 300ms ease-in-out;
  z-index: 0;
}
body #contenu .exploration button span {
  left: 20px;
  top: 15px;
  position: absolute;
  z-index: 1;
}
body #contenu .fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  background: #FFFFFF;
  padding: 48px 0px 40px 0px;
}
body #contenu .fonctionnement h2 {
  position: relative;
  left: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
}
body #contenu .fonctionnement .boutons {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24.92px;
  align-items: center;
  width: 100%;
}
body #contenu .fonctionnement .boutons button {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  border: 0px;
  width: 322.49px;
  height: 72.38px;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
body #contenu .fonctionnement .boutons button::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  opacity: 0;
  width: 322.49px;
  height: 72.38px;
  border-radius: 25px;
  transition: all 300ms ease-in-out;
  z-index: 0;
}
body #contenu .fonctionnement .boutons button:hover::after {
  opacity: 1;
}
body #contenu .fonctionnement .boutons button:hover i {
  color: #9356DC;
}
body #contenu .fonctionnement .boutons button i {
  font-size: 1.5em;
  color: #7E7E7E;
  width: 20px;
  transition: color 500ms ease-in-out;
}
body #contenu .fonctionnement .boutons button .text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 175.5px;
}
body #contenu .fonctionnement .boutons button .circle {
  position: relative;
  width: 24px;
  height: 24px;
  right: 277px;
  text-align: center;
  border-width: 1px;
  border-radius: 20px;
  background-color: #9356DC;
  color: white;
}
body #contenu .fonctionnement .boutons button .circle .number {
  position: relative;
  top: 5px;
}
body #contenu .restaurants {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  background: #F3F3F3;
  padding: 48px 20px 40px 20px;
  box-sizing: border-box;
}
body #contenu .restaurants h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
}
body #contenu .restaurants .row {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-content: center;
  width: 100%;
  margin-bottom: 5px;
}
body #contenu .restaurants .row .card {
  position: relative;
  background: white;
  border-radius: 20px;
  height: 251px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}
body #contenu .restaurants .row .card .nouveau {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #99E2D0;
  color: #008766;
  padding: 7px 9px 7px 9px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
body #contenu .restaurants .row .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 167px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
body #contenu .restaurants .row .card .card-content {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 84px;
}
body #contenu .restaurants .row .card .card-content .card-txt {
  margin-top: auto;
  margin-bottom: auto;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "Roboto";
  font-style: normal;
}
body #contenu .restaurants .row .card .card-content .card-txt .card-title {
  margin: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
body #contenu .restaurants .row .card .card-content .card-txt .card-subtitle {
  margin: 0px;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}
body #contenu .restaurants .row .card .card-content .gradient {
  font-size: 21px;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 0.5px #9356DC;
}
body #contenu .restaurants .row .card .card-content .white {
  position: relative;
  left: 21px;
  font-size: 21px;
  color: white;
  -webkit-text-stroke: 0.5px black;
  transition: opacity 1s;
}
body #contenu .restaurants .row .card .card-content .white:hover {
  opacity: 0;
}
body #contenu footer {
  background: #353535;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-bottom: 22px;
  box-sizing: border-box;
  gap: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
body #contenu footer h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
body #contenu footer .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
body #contenu footer .links a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: white;
}
body #contenu footer .links div {
  display: flex;
  align-items: center;
  gap: 10px;
}
body #contenu footer .links div i {
  width: 25px;
}

/* ----------------------MEDIA QUERIES------------------------------ */
/* ----------------------MEDIA QUERY FOR SAMSUNG FOLD------------------------------ */
@media (max-width: 281px) {
  .boutons button {
    padding-left: 25px;
    width: 240px !important;
    box-sizing: border-box;
  }
  .boutons button::after {
    width: 240px !important;
  }
  .boutons button .circle {
    right: 224px !important;
    font-size: 10px !important;
    height: 19px !important;
  }
  .restaurants .card {
    height: 191px !important;
  }
  .restaurants .card img {
    height: 123px !important;
  }
}
/* ----------------------MEDIA QUERY FOR DESKTOP------------------------------ */
@media (min-width: 1024px) {
  .loader {
    height: 300px !important;
    padding: 5px;
    box-sizing: border-box;
    border: solid 1px #353535;
    animation: disappear 0ms 3000ms 1 normal ease-in-out both;
  }
  .loader span {
    position: absolute;
    top: -60px;
    z-index: 1;
    font-family: Shrikhand;
    font-style: normal;
    font-size: 3em !important;
  }
  .exploration h2 {
    width: 100% !important;
    font-weight: 700 !important;
    font-size: 40px !important;
    line-height: 47px !important;
  }
  .fonctionnement {
    padding-left: 25% !important;
    padding-right: 25% !important;
    box-sizing: border-box;
    width: 100% !important;
  }
  .fonctionnement h2 {
    left: 0px !important;
  }
  .fonctionnement .boutons {
    width: 100% !important;
    flex-direction: row !important;
    justify-content: center !important;
    gap: 35px !important;
  }
  .restaurants {
    padding-left: 25% !important;
    padding-right: 25% !important;
  }
  .restaurants .row {
    flex-direction: row !important;
    justify-content: center !important;
  }
  .restaurants .row .card {
    width: 498.65px !important;
    margin: 0% !important;
  }
  footer {
    padding-bottom: 10px !important;
    padding-top: 50px;
    flex-direction: row-reverse !important;
    gap: 10px;
  }
  footer h1 {
    margin-left: 60px;
    margin-right: 60px;
  }
  footer .links {
    flex-direction: row !important;
    align-items: center;
  }
  footer .links .space {
    width: 30px;
  }
}/*# sourceMappingURL=styles.css.map */